button.create {
    background-color: var(--btn-bg-primary-dark);
    color: var(--text-color-dark);
    padding: 10px 20px;
    font-size: 16px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.create :hover {
    background-color: var(--hover-dark); /* Optional: Add hover color */
    color: var(--text-hover-dark);
}
.content button {
    padding: 8px 12px;
    background-color: var(--btn-bg-content-dark);
    color: var(--text-color-dark);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.content button:hover {
    background-color: var(--btn-bg-content-dark);
    color: var(--text-hover-dark);
}

.members button {
    background-color: var(--btn-bg-content-dark);
    color: var(--text-color-dark);
    border: none;
    cursor: pointer;
    border-radius: 5%;
}
  
.members button:hover {
    background-color: var(--hover-dark);
    color: var(--text-hover-dark);
}

button.close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color-dark);
    transition: color 0.3s;
    width:50px;
  }
  
  button.close-btn:hover {
    color: var(--hover-dark);
  }

  .user-item.selected {
    background-color:var(--hover-dark);
    color: var(--text-hover-dark);
  }

  .user-item:hover {
    background-color:var(--hover-dark);
    color: var(--text-hover-dark);
  }